
.content {
    height: 400px;
    border: 2px green solid;
  }

   
  .container {
    display: flex;
    justify-content: space-between;
  margin: 0 auto;
  width: 890px;
  border: 2px solid blue;
  height: 100%;
  }