header{
    display: flex;
    border:2px green solid;
    height: 40px;
    width: 100%;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  margin: 0 auto;
  width: 890px;
  border: 2px solid blue;
  height: 100%;
  }
  .logo {
    width: 30px;
    height: 30px;
    background: red;
    border-radius: 50%;
  }