header{
    display: flex;
    background: yellowgreen;
    height: 40px;
    width: 100%;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
  margin: 0 auto;
  width: 890px;
  height: 100%;
  }
  