* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
.wrapper {
  margin: 0 auto;
  background: red;
  width: 890px;
  min-height: 400px;
}

header{
  display: flex;
  border:2px green solid;
  height: 40px;
  width: 100%;
}

.container {
margin: 0 auto;
width: 890px;
border: 2px solid blue;
height: 100%;
}

.content {
  height: 400px;
  border: 2px green solid;
}

footer {
  height: 50px;
  border: 2px solid red;
}